.container {
    display:grid;
    grid-template-areas:
    "navbar"
    "header"
    "section"
    "section"
    "section"
    "section"
    "footer";
    border: 1px solid black;
}

.sectionLeft {
    color: white;
    border: 1px solid grey;
    background-color: rgb(20, 44, 72);
}

.sectionRight {
    color: white;
    border: 1px solid grey;
    background-color: rgb(3, 39, 16);
    text-align: right;
}

.footer {
    color: black;
    border: 1px solid grey;
    background-color: white;
    text-align: center;
}

#navbar {
    grid-area: navbar;
    display:flex;
    grid-template-columns: repeat(4,1fr);
    justify-content:space-evenly;
    border: 1px solid grey;
    background-color: rgb(189, 189, 189);
    min-height:3vh;
    align-items: center;
} 

#header {
    grid-area: header;
    color: black;
    border: 1px solid grey;
    text-align: center;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

@media(min-width:1200px) {
    .container {
        display:grid;
        grid-template-areas:
        "navbar navbar"
        "header header"
        "section section"
        "section section";
        border: 1px solid black;
    }
}