.container {
    display:grid;
    grid-template-areas:
    "navbar"
    "header"
    "section1"
    "section2"
    "section3"
    "section4"
    "footer";
    border: 1px solid black;
}

.active {
    color: white;
    border: 1px solid grey;
    background-color: rgb(3, 39, 16);
}

.footer {
    color: black;
    border: 1px solid grey;
    background-color: white;
    text-align: center;
}

#navbar {
    grid-area: navbar;
    display:flex;
    grid-template-columns: repeat(4,1fr);
    justify-content:space-evenly;
    border: 1px solid grey;
    background-color: rgb(189, 189, 189);
    min-height:3vh;
    align-items: center;
} 

#header {
    grid-area: header;
    color: black;
    border: 1px solid grey;
    text-align: center;
    align-items: center;
}

html {
    zoom: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

section {
    color: white;
    border: 1px solid grey;
    background-color: rgb(20, 44, 72);
    height: 500px;
}

@media(max-width:500px) {
    #navbar {
        display:flex;
        border: 1px solid black;
        justify-content: space-between;
    }
}